<!DOCTYPE html>
<html>
<head>
  <title>Lostinthewoodz</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  
  <nav class = 'introbox'>
	<h1 class = "intro introicon" >Lostinthewoodz</h1>
	<br>
	<h3 class = "intro">(Woody Chung)</h3>
  </nav>

</head>
<body>

<%= yield %>

</body>
</html>
